TCB
  TYPE    2
  CW	  128
  DLY	  0
  PTRIG	  20
  MTHRF	  10
  PSCF	  1
  MTHRI	  4
  PSCI	  1
  SWF	  1 0 0 0
  SWI	  0 0 0 1  
  TRGON	  2
END

FADCT  21  4
  ENABLED  1
  CID	   1 2 3 4
  PID	   1 2 3 4
  TRGON	   1
  DACOFF   3700
  DLY	   800
  CW	   128
  TM	   1
  PCT	   1
  PCI	   1000
  THR	   10
  TLT	   1+2+3+4
  RL	   256
END

FADCT  22  4
  ENABLED  1
  CID	   1 2 3 4
  PID	   5 6 7 8 
  TRGON	   1
  DACOFF   3700
  DLY	   800
  CW	   128
  TM	   1
  PCT	   1
  PCI	   1000
  THR	   10
  TLT	   1+2+3+4
  RL	   256
END

FADCT  23  4
  ENABLED  1
  CID	   1 2 3 4
  PID	   9 10 11 12
  TRGON	   1
  DACOFF   3700
  DLY	   800
  CW	   128
  TM	   1
  PCT	   1
  PCI	   1000
  THR	   10
  TLT	   1+2+3+4
  RL	   256
END

FADCT  24  4
  ENABLED  1
  CID	   1 2 3 4
  PID	   13 14 15 16
  TRGON	   1
  DACOFF   3700
  DLY	   800
  CW	   128
  TM	   1
  PCT	   1
  PCI	   1000
  THR	   10
  TLT	   1+2+3+4
  RL	   256
END

FADCT  25  4
  ENABLED  1
  CID	   1 2 3 4
  PID	   17 18 19 20
  TRGON	   1
  DACOFF   3700
  DLY	   800
  CW	   128
  TM	   1
  PCT	   1
  PCI	   1000
  THR	   10
  TLT	   1+2+3+4
  RL	   256
END

FADCT  26  4
  ENABLED  1
  CID	   1 2 3 4
  PID	   21 22 23 24
  TRGON	   1
  DACOFF   3700
  DLY	   800
  CW	   128
  TM	   1
  PCT	   1
  PCI	   1000
  THR	   10
  TLT	   1+2+3+4
  RL	   256
END

FADCT  27  4
  ENABLED  1
  CID	   1 2 3 4
  PID	   25 26 27 28
  TRGON	   1
  DACOFF   3700
  DLY	   800
  CW	   128
  TM	   1
  PCT	   1
  PCI	   1000
  THR	   10
  TLT	   1+2+3+4
  RL	   256
END

FADCT  28  4
  ENABLED  1
  CID	   1 2 3 4
  PID	   29 30 31 32
  TRGON	   1
  DACOFF   3700
  DLY	   800
  CW	   128
  TM	   1
  PCT	   1
  PCI	   1000
  THR	   10
  TLT	   1+2+3+4
  RL	   256
END

FADCT  29  4
  ENABLED  1
  CID	   1 2 3 4
  PID	   33 34 35 36
  TRGON	   1
  DACOFF   3700
  DLY	   800
  CW	   128
  TM	   1
  PCT	   1
  PCI	   1000
  THR	   10
  TLT	   1+2+3+4
  RL	   256
END

FADCT  30  4
  ENABLED  1
  CID	   1 2 3 4
  PID	   37 38 39 40
  TRGON	   1
  DACOFF   3700
  DLY	   800
  CW	   128
  TM	   1
  PCT	   1
  PCI	   1000
  THR	   10
  TLT	   1+2+3+4
  RL	   256
END

FADCT  31  4
  ENABLED  1
  CID	   1 2 3 4
  PID	   41 42 43 44
  TRGON	   1
  DACOFF   3700
  DLY	   800
  CW	   128
  TM	   1
  PCT	   1
  PCI	   1000
  THR	   10
  TLT	   1+2+3+4
  RL	   256
END

FADCT  32  4
  ENABLED  1
  CID	   1 2 3 4
  PID	   45 46 47 48
  TRGON	   1
  DACOFF   3700
  DLY	   800
  CW	   128
  TM	   1
  PCT	   1
  PCI	   1000
  THR	   10
  TLT	   1+2+3+4
  RL	   256
END

